<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{TITLE}}</title>
    <!-- <link rel="stylesheet" href="styles.css"> -->
    <style></style>
</head>
<body>
    <div class="container">
        <img class="logo" src="data:image/png;base64,{{LOGO_BASE64}}" alt="BMW Logo"/>
        <div class="info-grid">
            <div class="info-item">
                <span class="info-label">Simulation</span>
                <span class="info-value">{{SCRIPT_NAME}}</span>
            </div>
            <div class="info-item">
                <span class="info-label">Date & Time</span>
                <span class="info-value">{{DATE_TIME}}</span>
            </div>
            <div class="info-item">
                <span class="info-label">Simulation ID</span>
                <span class="info-value">{{SIMULATION_ID}}</span>
            </div>
        </div>
    </div>
    <!-- Plot Container -->
    <div class="plot-container">
        <div class="plot-header">
            <h3 class="plot-title">Simulation Model Waveforms</h3>
        </div>
        {{PLOT_ITEMS}}
    </div>
</body>
</html>